.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}
main {background-color: #282c34;}

.App-link {
  color: #61dafb;
}

.loading {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: 50%;
  font-size: 2rem;
}
.pagination > li {cursor: pointer;}

